<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="eventHubConnectionString" value="Endpoint=sb://h4u-ukw-eh-lifesigns.servicebus.windows.net/;SharedAccessKeyName=lifesigns;SharedAccessKey=0OeMAIaCyicWxikfpkFHNWXjg+6krCN5gcsU+FXbIWM=;EntityPath=lifesigns"/>
		<add key="eventHubName" value="lifesigns"/>
		<add key="numOfEvents" value="120"/>
		<add key="enabled" value="true"/>
	</appSettings>
</configuration>
