<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="eventHubConnectionString" value="Endpoint=sb://specs-uks-eh-lifesigns.servicebus.windows.net/;SharedAccessKeyName=specs;SharedAccessKey=85MWh5N3s47x/q4NEuOlPJIDgn21fABeCaMrYE/KBd4="/>
		<add key="eventHubName" value="lifesigns"/>
		<add key="numOfEvents" value="120"/> 
	</appSettings>
</configuration>
